@use '../../styles/colors.scss' as c;

/**
  This file should include the styles for all the slides of the page.
  The idea is that this class contains the definitions of the slide possible structures i.e.: Slide templates.
  */

.intro-wrapper {
  text-align: center;

  h1 {
    font-size: 2.5rem;
    margin: 1rem 0;
    color: #2c3e50;
  }

}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;



  .split-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    gap: 2rem;
    padding: 2rem;

    .text-column {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem;

      h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        color: c.$cv-primary;
      }

      h2 {
        font-size: 1.2rem;
        font-weight: 100;
        margin-top: -6px;
        font-style: italic;
        color: c.$cv-text-light;
      }

      p {
        text-align: justify;
        font-size: 1.125rem;
        line-height: 1.6;
        color: c.$cv-text;
        max-width: 100%;
      }

      // p.justify-last {
      //   text-align: justify;
      //   text-align-last: justify;
      // }

      ul {
        list-style: none;
        padding-left: 0;
      }

      li {
        font-size: 1.125rem;
        line-height: 1.6;
        position: relative;
        padding-left: 1.8em;
        color: c.$cv-text;
        max-width: 90%;

      }

      li::before {
        content: "•";
        //   color: #4F46E5;
        font-weight: bold;
        position: absolute;
        left: 0.8em;
      }


      .image-wrapper {
        margin-top: 16px;
        display: flex;
        width: center;
        justify-content: center;
        align-items: center;

        img {
          max-width: 75%;
          max-height: 80%;
          object-fit: contain;
          border-radius: 1rem;
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        }
      }

    }

    .image-column {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-width: 100%;
        max-height: 80%;
        object-fit: contain;
        border-radius: 1rem;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
      }
    }

    .grid-wrapper {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .result-column {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 48px;

      .chart-wrapper {
        width: 90%;
        border-radius: 18px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        //  overflow-x: auto;
        box-sizing: border-box;
        padding: 10px;
        background-color: #fff;

        


    }

  }

  .table-wrapper {
    width: 90%;
    border-radius: 18px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
  }
}

// Next chapter button

.next-btn-div {

  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;

  .next-btn {
    // margin-top: 1rem;
    padding: 0.5rem 1.3rem;
    background: transparent;
    color: #3730a3;
    font-size: 1.03rem;
    font-weight: 600;
    border: 1.5px solid c.$cv-primary;
    border-radius: 40px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    width: fit-content;
    gap: 0.5em;
    transition: background 0.15s, c 0.15s, border 0.15s;

    .arrow {
      font-size: 1.2em;
      transition: transform 0.15s;
      display: inline-block;
    }
  }

  .next-btn:hover,
  .next-btn:focus {
    background: c.$cv-bg-alt;
    color: c.$cv-secondary;
    border-color: c.$cv-secondary;
  }

  .next-btn:hover .arrow,
  .next-btn:focus .arrow {
    transform: translateX(5px);
  }
}

.center-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.multi-result-wrapper{
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: #fff;
  width: 90%;
  border-radius: 18px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        padding: 16px;
}

.zoom-reset-wrapper {
  display: flex;
  justify-content: right;
  align-items: right;

  button {
    background-color: #f8f8f871;
    border: 1px solid #d1d5db;
    border-radius: 0.75rem;
    padding: 0.4rem 1rem;
    font-size: 0.875rem;
    font-weight: 250;
    color: #9c9c9c;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

    &:hover {
      background-color: #e5e7eb;
      border-color: #9ca3af;
    }

    &:active {
      background-color: #d1d5db;
      transform: scale(0.98);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
    }
  }
}
}