<app-slideshow-section>

    <ng-template>
        <div class="slide-content">
            <div class="split-slide">
                <div class="text-column">
                    <h1>Keras Framework</h1>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere eligendi, minima delectus non
                        voluptatum nemo quia deserunt nihil omnis nisi totam voluptatem beatae repellat repellendus
                        minus nulla cumque. Saepe, consequuntur. Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Fugiat vero obcaecati consequuntur, debitis dolore ex rerum temporibus alias similique
                        officia odit necessitatibus dignissimos maxime quidem corrupti dolorum ab illum. Maiores!
                    </p>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui cumque debitis laboriosam est
                        dicta aliquid quia exercitationem aperiam doloremque quaerat eos, consequatur numquam, vero
                        voluptatem? Similique ab distinctio iste labore!
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. At omnis quaerat ab sit laboriosam
                        architecto debitis maiores corporis obcaecati nobis? Dolor doloremque dicta recusandae labore at
                        excepturi, laboriosam minima rerum?
                    </p>
                </div>
                <div class="image-column">
                <div class="keras-svg-wrapper">
                         <img class="keras-svg" src="assets/images/keras/keras_logo.png" alt="Keras Logo" />
                </div></div>
            </div>
        </div>
    </ng-template>



</app-slideshow-section>