<app-slideshow-section>

  <ng-template>
    <div class="slide-content">
      <div class="split-slide">
        <div class="text-column">
          <h1>Keras Framework</h1>
          <p>
            Keras is an open-source deep learning framework written in Python that simplifies the creation and training
            of neural networks. It serves as a high-level API for backends like TensorFlow, offering an intuitive and
            modular design ideal for rapid prototyping. With built-in support for layers, optimizers, and loss
            functions, Keras is widely used in both research and industry for developing machine learning models.
          </p>
          <p>
            One of Keras’s main advantages is its balance between ease of use and flexibility. It allows users to build
            models quickly using a simple interface while also supporting more complex customizations when needed. Its
            integration with TensorFlow provides powerful computational support, including GPU acceleration, making it
            suitable for a variety of deep learning tasks.
          </p>
          <p>
            In computer vision, Keras is commonly used for applications such as image classification, object detection,
            and segmentation. It includes ready-to-use convolutional layers and tools for image preprocessing and
            augmentation. With access to pre-trained models like VGG or ResNet, Keras also supports transfer learning,
            enabling efficient training even on small datasets.
          </p>
        </div>
        <div class="image-column">
          <div class="keras-svg-wrapper">
            <img class="keras-svg" src="assets/images/keras/keras_logo.png" alt="Keras Logo" />
          </div>
        </div>
      </div>
    </div>
  </ng-template>


  <ng-template>
    <div class="slide-content">
      <div class="split-slide">
        <div class="text-column">
          <h1>Keras Classification Results</h1>
          <h2>Simple Keras Classificator</h2>
          <p>
            The first Keras classification architecture is outlined below. It includes an input layer, followed by data
            augmentation and preprocessing layers. The core of the model consists of several Conv2D layers grouped with
            MaxPooling2D layers to progressively extract and downsample spatial features. The final layer is a Dense
            layer with a single neuron and a sigmoid activation function, which outputs a probability for binary
            classification. While softmax is more commonly used in multi-class computer vision tasks, sigmoid is
            appropriate here due to the binary nature of the problem.
          </p>
          <div class="image-wrapper">
            <img src="assets/snippets/keras_architecture_snippet.svg" alt="YOLOv8 Classification Model Train Function">
          </div>
        </div>
        <div class="result-column">
          <div class="chart-wrapper">
            <div class="zoom-reset-wrapper">
              <p-button label="Reset Zoom" [rounded]="false" severity="secondary" (onClick)="resetZoomCls()" />
            </div>
            <p-chart #clsChart type="line" [data]="clsChartData" [options]="clsChartOptions"></p-chart>
          </div>
          <div class="table-wrapper">
            <p-table [value]="clsTableData" responsiveLayout="scroll">
              <ng-template pTemplate="header">
                <tr>
                  <th>Class</th>
                  <th>Precision</th>
                  <th>Recall</th>
                  <th>F1-score</th>
                  <th>Support</th>
                </tr>

              </ng-template>
              <ng-template pTemplate="body" let-user>
                <tr>
                  <td>{{ user.class }}</td>
                  <td>{{ user.precision }}</td>
                  <td>{{ user.recall }}</td>
                  <td>{{ user.f1 }}</td>
                  <td>{{ user.support }}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="footer">
                <tr>
                  <td colspan="5">
                    <div style="display: flex; justify-content: center; align-items: center;">
                      <p style="margin: auto;"><strong sty>Accuracy: 100%</strong></p>
                      <p style="margin: auto;"><strong sty>Inference Time: 35.15 ms</strong></p>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </ng-template>


  <ng-template>
    <div class="slide-content">
      <div class="split-slide">
        <div class="text-column">
          <h1>Keras Classification Results</h1>
          <h2>Crop + Keras Classificator</h2>
          <p>
            The second Keras classifier employs the same architecture as the first. However, in this case, the input
            images are preprocessed using the segmentation model trained under a semi-supervised paradigm based on the
            YOLO framework. This preprocessing step aims to remove background noise, allowing the classifier to focus
            more effectively on the relevant object within each image.
          </p>
          <div class="image-wrapper">
            <img src="assets/images/keras/disc_background_transition.gif"
              alt="YOLOv8 Classification Model Train Function">
          </div>
        </div>

        <div class="result-column">
          <div class="chart-wrapper">
            <div class="zoom-reset-wrapper">
              <p-button label="Reset Zoom" [rounded]="false" severity="secondary" (onClick)="resetZoomClsCrop()" />

            </div>
            <p-chart #clsCropChart type="line" [data]="clsCropChartData" [options]="clsChartOptions"></p-chart>
          </div>
          <div class="table-wrapper">
            <p-table [value]="clsTableData" responsiveLayout="scroll">
              <ng-template pTemplate="header">
                <tr>
                  <th>Class</th>
                  <th>Precision</th>
                  <th>Recall</th>
                  <th>F1-score</th>
                  <th>Support</th>
                </tr>

              </ng-template>
              <ng-template pTemplate="body" let-clsTableData>
                <tr>
                  <td>{{ clsTableData.class }}</td>
                  <td>{{ clsTableData.precision }}</td>
                  <td>{{ clsTableData.recall }}</td>
                  <td>{{ clsTableData.f1 }}</td>
                  <td>{{ clsTableData.support }}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="footer">
                <tr>
                  <td colspan="5">
                    <div style="display: flex; justify-content: center; align-items: center;">
                      <p style="margin: auto;"><strong sty>Accuracy: 100%</strong></p>
                      <p style="margin: auto;"><strong sty>Inference Time: 35.78 ms</strong></p>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </ng-template>


  <ng-template>
    <div class="slide-content">
      <div class="split-slide">
        <div class="text-column">
          <h1>Transfer Learning</h1>
          <h2>Extracting YOLO Backbone</h2>
          <p>
            To extract the YOLO backbone from the segmentation model, the architecture had to be manually converted into
            a set of layers compatible with the Keras framework. This involved reimplementing the Conv, C2f, and SPPF
            blocks (along with their subcomponents) and transferring the corresponding weights into Keras-compatible
            format.
          </p>
          <p>
            The table below presents the maximum and mean differences observed when passing a randomly generated tensor
            through both the original YOLO backbone (implemented in PyTorch) and its Keras-based equivalent.
          </p>
          <div class="center-contents">
            <div class="table-wrapper">
              <p-table [value]="tlTableData" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Stage</th>
                    <th>max|∆|</th>
                    <th>mean|∆|</th>
                  </tr>

                </ng-template>
                <ng-template pTemplate="body" let-tlTableData>
                  <tr>
                    <td>{{ tlTableData.stage }}</td>
                    <td>{{ formatScientific(tlTableData.maxd) }}</td>
                    <td>{{ formatScientific(tlTableData.meand) }}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
        <div class="image-column ">
          <div class="yolo-arch-wrapper">
            <!-- <img src="assets/images/keras/yolo_backbone.png" alt="Model Diagram" />  -->
            <img src="assets/images/keras/yolo_backbone.svg" alt="Model Diagram" />
          </div>
        </div>
      </div>
    </div>
  </ng-template>


  <ng-template>
    <div class="slide-content">
      <div class="split-slide">
        <div class="text-column">
          <h1>Keras Classification Results</h1>
          <h2>YOLO Backbone + Keras Classificator</h2>
          <p>
            The initial phase of training is conducted over 100 epochs with the backbone network entirely frozen,
            allowing updates only to the classification head. This strategy aims to stabilize the feature extraction
            layers while focusing learning on the final classification layers.
          </p>
          <p>
            During this stage, the learning progression is relatively slow. Moreover, a noticeable and growing
            divergence between the training and validation loss curves suggests the early onset of overfitting. This
            indicates that the model is beginning to memorize the training data rather than generalize effectively to
            unseen samples.
          </p>
          <p>
            Such overfitting behavior is commonly observed in large and complex models. Due to their high capacity,
            these models are capable of memorizing intricate details of the training dataset rather than learning to
            generalize based on underlying patterns. This reinforces the importance of applying appropriate
            regularization techniques and training strategies to mitigate overfitting and enhance generalization
            performance.
          </p>
        </div>

        <div class="result-column">
          <div class="chart-wrapper">
            <div class="zoom-reset-wrapper">
              <p-button label="Reset Zoom" [rounded]="false" severity="secondary" (onClick)="resetZoomTfBase()" />
            </div>
            <p-chart #clsTfBase type="line" [data]="clsTlBaseChartData" [options]="clsChartOptions"></p-chart>
          </div>
          <div class="table-wrapper">
            <p-table [value]="clsBaseTableData" responsiveLayout="scroll">
              <ng-template pTemplate="header">
                <tr>
                  <th>Class</th>
                  <th>Precision</th>
                  <th>Recall</th>
                  <th>F1-score</th>
                  <th>Support</th>
                </tr>

              </ng-template>
              <ng-template pTemplate="body" let-clsTableData>
                <tr>
                  <td>{{ clsTableData.class }}</td>
                  <td>{{ clsTableData.precision }}</td>
                  <td>{{ clsTableData.recall }}</td>
                  <td>{{ clsTableData.f1 }}</td>
                  <td>{{ clsTableData.support }}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="footer">
                <tr>
                  <td colspan="5">
                    <div style="display: flex; justify-content: center; align-items: center;">
                      <p style="margin: auto;"><strong sty>Accuracy: 95.24%</strong></p>
                      <p style="margin: auto;"><strong sty>Inference Time: 53.79 ms</strong></p>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </ng-template>


  <ng-template>
    <div class="slide-content">
      <div class="split-slide">
        <div class="text-column">
          <h1>Keras Classification Results</h1>
          <h2>Fine Tunning</h2>

          <p>
            Fine-tuning involves gradually unfreezing the final layers of a pretrained model to adapt it more
            effectively to a target dataset. This approach allows the model to retain general feature representations
            learned from large-scale datasets while adapting higher-level representations to the specific task.
          </p>
          <p>
            The original YOLO backbone consists of 10 layers, indexed from 0 to 9. In this experiment, layers were
            unfrozen in groups of two. However, only the final two groups (i.e., the last four layers) were considered
            for fine-tuning. This decision was made to preserve the benefits of transfer learning, as unfreezing
            lower-level layers would compromise the general features learned during pretraining.
          </p>
          <p>
            Despite these efforts, the model exhibited increased signs of overfitting, as the base configuration was
            already prone to this issue. Further training exacerbated the effect. Nonetheless, performance improvements
            were still observed, suggesting that carefully unfreezing upper layers and extending training can yield to
            better results.
          </p>

          <div class="next-btn-div">
            <button class="next-btn" (click)="goNext()">
              GradCAM <span class="arrow">→</span>
            </button>
          </div>
        </div>

        <div class="result-column">

          <div class="multi-result-wrapper">
            <div class="center-contents">
              <p-selectbutton [options]="stageOptions" [allowEmpty]="false" optionLabel="label" optionValue="value"
                aria-labelledby="basic" [(ngModel)]="selectedStage" (ngModelChange)="updateDisplay()" />
            </div>
            <div class="result-chart">
              <div class="zoom-reset-wrapper">
                <p-button label="Reset Zoom" [rounded]="false" severity="secondary" (onClick)="resetZoomTfStages()" />
              </div>
              <p-chart #clsStageChart type="line" [data]="currentStageChartData"
                [options]="stageChartOptions"></p-chart>
            </div>
            <div class="result-table">
              <p-table [value]="currentStageTableData" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Class</th>
                    <th>Precision</th>
                    <th>Recall</th>
                    <th>F1-score</th>
                    <th>Support</th>
                  </tr>

                </ng-template>
                <ng-template pTemplate="body" let-stageTableData>
                  <tr>
                    <td>{{ stageTableData.class }}</td>
                    <td>{{ stageTableData.precision }}</td>
                    <td>{{ stageTableData.recall }}</td>
                    <td>{{ stageTableData.f1 }}</td>
                    <td>{{ stageTableData.support }}</td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                  <tr>
                    <td colspan="5">
                      <div style="display: flex; justify-content: center; align-items: center;">
                        <p style="margin: auto;"><strong sty>Accuracy: {{ currentStageAccuracy }}%</strong></p>
                        <p style="margin: auto;"><strong sty>Inference Time: {{ currentStageInferenceTime }} ms</strong>
                        </p>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>




</app-slideshow-section>