.slide-content {
    .image-column {
      display: flex; 
      justify-content: center;
      align-items: center;
  
      .keras-svg-wrapper {
        display: inline-block;
        height: auto;  
        width: auto;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1) !important;
        border-radius: 1rem;

        .keras-svg {
          width: 100%;
          max-width: 500px;
          height: auto;
          display: block;
        }
      }
    }
  }
  