<app-slideshow-section>

  <ng-template>
    <div class="slide-content">
      <div class="split-slide">
        <div class="text-column">
          <h1>Keras Framework</h1>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere eligendi, minima delectus non
            voluptatum nemo quia deserunt nihil omnis nisi totam voluptatem beatae repellat repellendus
            minus nulla cumque. Saepe, consequuntur. Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Fugiat vero obcaecati consequuntur, debitis dolore ex rerum temporibus alias similique
            officia odit necessitatibus dignissimos maxime quidem corrupti dolorum ab illum. Maiores!
          </p>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui cumque debitis laboriosam est
            dicta aliquid quia exercitationem aperiam doloremque quaerat eos, consequatur numquam, vero
            voluptatem? Similique ab distinctio iste labore!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At omnis quaerat ab sit laboriosam
            architecto debitis maiores corporis obcaecati nobis? Dolor doloremque dicta recusandae labore at
            excepturi, laboriosam minima rerum?
          </p>
        </div>
        <div class="image-column">
          <div class="keras-svg-wrapper">
            <img class="keras-svg" src="assets/images/keras/keras_logo.png" alt="Keras Logo" />
          </div>
        </div>
      </div>
    </div>
  </ng-template>


  <ng-template>
    <div class="slide-content">
      <div class="split-slide">
        <div class="text-column">
          <h1>Keras Classification Results</h1>
          <h2>Simple Keras Classificator</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum unde suscipit, maxime minima distinctio vel ex
            quia voluptate inventore consequuntur reiciendis dolore, aliquam ipsa aspernatur iste itaque neque sequi
            fuga?

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quis magni ratione praesentium dolorum vel
            quia odit quae cum, consequatur, pariatur voluptatem, numquam cumque. Reprehenderit deleniti in amet cumque
            tempora.
          </p>
          <div class="image-wrapper">
            <img src="assets/snippets/keras_architecture_snippet.svg" alt="YOLOv8 Classification Model Train Function">
          </div>
        </div>
        <div class="result-column">
          <div class="chart-wrapper">
            <div class="zoom-reset-wrapper">
              <p-button label="Reset Zoom" [rounded]="false" severity="secondary" (onClick)="resetZoomCls()" />
            </div>
            <p-chart #clsChart type="line" [data]="clsChartData" [options]="clsChartOptions"></p-chart>
          </div>
          <div class="table-wrapper">
            <p-table [value]="clsTableData" responsiveLayout="scroll">
              <ng-template pTemplate="header">
                <tr>
                  <th>Class</th>
                  <th>Precision</th>
                  <th>Recall</th>
                  <th>F1-score</th>
                  <th>Support</th>
                </tr>

              </ng-template>
              <ng-template pTemplate="body" let-user>
                <tr>
                  <td>{{ user.class }}</td>
                  <td>{{ user.precision }}</td>
                  <td>{{ user.recall }}</td>
                  <td>{{ user.f1 }}</td>
                  <td>{{ user.support }}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="footer">
                <tr>
                  <td colspan="5">
                    <div style="display: flex; justify-content: center; align-items: center;">
                      <p style="margin: auto;"><strong sty>Accuracy: 100%</strong></p>
                      <p style="margin: auto;"><strong sty>Inference Time: 35.15 ms</strong></p>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </ng-template>


  <ng-template>
    <div class="slide-content">
      <div class="split-slide">
        <div class="text-column">
          <h1>Keras Classification Results</h1>
          <h2>Crop + Keras Classificator</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel explicabo error deserunt deleniti! Eos fuga
            commodi, qui voluptatibus aspernatur, dolores pariatur natus eaque facilis assumenda accusantium, mollitia
            molestiae? Ullam, temporibus!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque voluptatum animi sit esse, laborum eveniet
            error eligendi nostrum accusantium, maxime et impedit iure fugit voluptates officiis tempore saepe adipisci.
            Blanditiis?
          </p>
          <div class="image-wrapper">
            <img src="assets/images/keras/disc_background_transition.gif"
              alt="YOLOv8 Classification Model Train Function">
          </div>
        </div>

        <div class="result-column">
          <div class="chart-wrapper">
            <div class="zoom-reset-wrapper">
              <p-button label="Reset Zoom" [rounded]="false" severity="secondary" (onClick)="resetZoomClsCrop()" />

            </div>
            <p-chart #clsCropChart type="line" [data]="clsCropChartData" [options]="clsChartOptions"></p-chart>
          </div>
          <div class="table-wrapper">
            <p-table [value]="clsTableData" responsiveLayout="scroll">
              <ng-template pTemplate="header">
                <tr>
                  <th>Class</th>
                  <th>Precision</th>
                  <th>Recall</th>
                  <th>F1-score</th>
                  <th>Support</th>
                </tr>

              </ng-template>
              <ng-template pTemplate="body" let-clsTableData>
                <tr>
                  <td>{{ clsTableData.class }}</td>
                  <td>{{ clsTableData.precision }}</td>
                  <td>{{ clsTableData.recall }}</td>
                  <td>{{ clsTableData.f1 }}</td>
                  <td>{{ clsTableData.support }}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="footer">
                <tr>
                  <td colspan="5">
                    <div style="display: flex; justify-content: center; align-items: center;">
                      <p style="margin: auto;"><strong sty>Accuracy: 100%</strong></p>
                      <p style="margin: auto;"><strong sty>Inference Time: 35.78 ms</strong></p>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </ng-template>


  <ng-template>
    <div class="slide-content">
      <div class="split-slide">
        <div class="text-column">
          <h1>Transfer Learning</h1>
          <h2>Extracting YOLO Backbone</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel explicabo error deserunt deleniti!
            Eos fuga commodi, qui voluptatibus aspernatur, dolores pariatur natus eaque facilis assumenda
            accusantium, mollitia molestiae? Ullam, temporibus!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque voluptatum animi sit esse,
            laborum eveniet error eligendi nostrum accusantium, maxime et impedit iure fugit voluptates
            officiis tempore saepe adipisci. Blanditiis?
          </p>
          <div class="center-contents">
            <div class="table-wrapper">
              <p-table [value]="tlTableData" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Stage</th>
                    <th>max|∆|</th>
                    <th>mean|∆|</th>
                  </tr>

                </ng-template>
                <ng-template pTemplate="body" let-tlTableData>
                  <tr>
                    <td>{{ tlTableData.stage }}</td>
                    <td>{{ formatScientific(tlTableData.maxd) }}</td>
                    <td>{{ formatScientific(tlTableData.meand) }}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
        <div class="image-column ">
          <div class="yolo-arch-wrapper">
            <!-- <img src="assets/images/keras/yolo_backbone.png" alt="Model Diagram" />  -->
            <img src="assets/images/keras/yolo_backbone.svg" alt="Model Diagram" />
          </div>
        </div>
      </div>
    </div>
  </ng-template>


  <ng-template>
    <div class="slide-content">
      <div class="split-slide">
        <div class="text-column">
          <h1>Keras Classification Results</h1>
          <h2>YOLO Backbone + Keras Classificator</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel explicabo error deserunt deleniti! Eos fuga
            commodi, qui voluptatibus aspernatur, dolores pariatur natus eaque facilis assumenda accusantium, mollitia
            molestiae? Ullam, temporibus!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque voluptatum animi sit esse, laborum eveniet
            error eligendi nostrum accusantium, maxime et impedit iure fugit voluptates officiis tempore saepe adipisci.
            Blanditiis?
          </p>
        </div>

        <div class="result-column">
          <div class="chart-wrapper">
            <div class="zoom-reset-wrapper">
              <p-button label="Reset Zoom" [rounded]="false" severity="secondary" (onClick)="resetZoomTfBase()" />
            </div>
            <p-chart #clsTfBase type="line" [data]="clsTlBaseChartData" [options]="clsChartOptions"></p-chart>
          </div>
          <div class="table-wrapper">
            <p-table [value]="clsBaseTableData" responsiveLayout="scroll">
              <ng-template pTemplate="header">
                <tr>
                  <th>Class</th>
                  <th>Precision</th>
                  <th>Recall</th>
                  <th>F1-score</th>
                  <th>Support</th>
                </tr>

              </ng-template>
              <ng-template pTemplate="body" let-clsTableData>
                <tr>
                  <td>{{ clsTableData.class }}</td>
                  <td>{{ clsTableData.precision }}</td>
                  <td>{{ clsTableData.recall }}</td>
                  <td>{{ clsTableData.f1 }}</td>
                  <td>{{ clsTableData.support }}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="footer">
                <tr>
                  <td colspan="5">
                    <div style="display: flex; justify-content: center; align-items: center;">
                      <p style="margin: auto;"><strong sty>Accuracy: 95.24%</strong></p>
                      <p style="margin: auto;"><strong sty>Inference Time: 53.79 ms</strong></p>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </ng-template>


  <ng-template>
    <div class="slide-content">
      <div class="split-slide">
        <div class="text-column">
          <h1>Keras Classification Results</h1>
          <h2>Fine Tunning</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel explicabo error deserunt deleniti!
            Eos fuga commodi, qui voluptatibus aspernatur, dolores pariatur natus eaque facilis assumenda
            accusantium, mollitia molestiae? Ullam, temporibus!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque voluptatum animi sit esse,
            laborum eveniet error eligendi nostrum accusantium, maxime et impedit iure fugit voluptates
            officiis tempore saepe adipisci. Blanditiis?
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis odit aliquid facere voluptatibus dolorum
            ipsa numquam, consequuntur esse illum optio voluptatem, quos ducimus omnis culpa aperiam! Deserunt, dolor!
            Voluptates, nesciunt.
          </p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta libero vel porro, nemo ab excepturi nisi
            ratione quod quidem, dolores quia fugiat, dolor provident illo ducimus recusandae blanditiis voluptatibus
            dolorem!

          </p>

          <div class="next-btn-div">
            <button class="next-btn" (click)="goNext()">
              GradCAM <span class="arrow">→</span>
            </button>
          </div>
        </div>

        <div class="result-column">

          <div class="multi-result-wrapper">
            <div class="center-contents">
              <p-selectbutton [options]="stageOptions" [allowEmpty]="false" optionLabel="label" optionValue="value"
                aria-labelledby="basic" [(ngModel)]="selectedStage" (ngModelChange)="updateDisplay()" />
            </div>
            <div class="result-chart">
              <div class="zoom-reset-wrapper">
                <p-button label="Reset Zoom" [rounded]="false" severity="secondary" (onClick)="resetZoomTfStages()" />
              </div>
              <p-chart #clsStageChart type="line" [data]="currentStageChartData" [options]="stageChartOptions"></p-chart>
            </div>
            <div class="result-table">
              <p-table [value]="currentStageTableData" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Class</th>
                    <th>Precision</th>
                    <th>Recall</th>
                    <th>F1-score</th>
                    <th>Support</th>
                  </tr>

                </ng-template>
                <ng-template pTemplate="body" let-stageTableData>
                  <tr>
                    <td>{{ stageTableData.class }}</td>
                    <td>{{ stageTableData.precision }}</td>
                    <td>{{ stageTableData.recall }}</td>
                    <td>{{ stageTableData.f1 }}</td>
                    <td>{{ stageTableData.support }}</td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                  <tr>
                    <td colspan="5">
                      <div style="display: flex; justify-content: center; align-items: center;">
                        <p style="margin: auto;"><strong sty>Accuracy: {{ currentStageAccuracy }}%</strong></p>
                        <p style="margin: auto;"><strong sty>Inference Time: {{ currentStageInferenceTime }} ms</strong>
                        </p>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>




</app-slideshow-section>