<app-slideshow-section>

  <ng-template>
    <div class="slide-content">
      <div class="split-slide">
        <div class="text-column">
          <h1>Conclusion</h1>
          <p>
            A key finding is the superior performance of <strong>simpler models</strong> over complex hybrid
            architectures. Despite integrating YOLOv8 backbones into Keras classifiers, these hybrids did not outperform
            <strong>standalone YOLOv8</strong> or <strong>Keras models</strong> on cropped images. This underscores the
            importance of <strong>architectural simplicity</strong> for better generalization and deployment feasibility
            in industrial contexts.
          </p>
          <p>
            The study also highlights the effectiveness of <strong>transfer learning</strong> and <strong>data
              augmentation</strong>, which improved robustness even with limited data. It points toward future
            exploration of <strong>semi-supervised learning</strong> to leverage both labeled and unlabeled data,
            addressing the common scarcity of defect annotations in industry.
          </p>
          <p>
            <strong>Model interpretability</strong> was addressed through <strong>Grad-CAM</strong>, which enhanced
            transparency by visualizing regions influencing predictions. This builds <strong>trust and
              accountability</strong> in automated decisions, especially vital in manufacturing, supporting debugging,
            regulatory compliance, and user confidence.
          </p>
          <p>
            Finally, the thesis reflects the ongoing <strong>democratization of computer vision</strong>. Tools like
            Roboflow and Google Colab enable development without specialized infrastructure, empowering smaller
            enterprises. Combined with <strong>edge device inference</strong>, these advances support scalable,
            real-time defect detection across diverse production settings.
          </p>

        </div>
        <div class="image-column">
          <img src="assets/images/conclusion/elieen-collings-hog.gif" alt="Elieen Collins">
        </div>
      </div>
    </div>
  </ng-template>


</app-slideshow-section>