<app-slideshow-section>
  <ng-template>
    <div class="slide-content">
      <div class="split-slide">
        <div class="text-column">
          <h1>Introduction</h1>
          <p> In <strong>modern manufacturing,</strong> verifying component conditions at the output stage is critical. This ensures
            product integrity and reveals insights across the production chain—from raw materials to external influences
            like personnel and machinery. <strong>Industry 4.0</strong> raises the bar, demanding more advanced quality control methods.
          </p>
          <p> Amid rapid hardware advances, <strong>computer vision</strong> has become a powerful solution. It involves acquiring,
            processing, and interpreting images to generate data that supports automation and smarter decision-making in
            industrial environments. </p>
        </div>
        <div class="image-column">
          <img src="assets/images/intro_industry40.png" alt="Model Diagram" />
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template>
    <div class="slide-content">
      <div class="split-slide">
        <div class="text-column">
          <h1>Motivation</h1>
          <p> As manufacturing moves toward full automation, fast and <strong>reliable quality inspection</strong> becomes crucial.
            Manual checks are often inconsistent, and traditional rule-based vision systems  <strong>fail</strong> to catch subtle or
            novel defects. </p>
          <p> Computer vision overcomes these challenges by enabling accurate, real-time defect detection. This is
            especially important in high-risk industries like aerospace and pharmaceuticals. By <strong>improving</strong> precision and
            reducing waste, it supports Industry 4.0 goals and makes automated visual inspection a key priority. </p>
        </div>
        <div class="image-column">
          <img src="assets/images/intro_blade_defect.png" alt="Model Diagram" />
        </div>
      </div>
    </div>
  </ng-template>


  <ng-template>
    <div class="slide-content">
      <div class="split-slide">
        <div class="text-column">
          <h1>Aerospace Industry</h1>
          <p>In the aerospace industry, advanced visual analysis technologies have improved <strong>safety</strong>, maintenance, and
            manufacturing efficiency. By enabling early detection of structural issues, they help prevent failures and
            extend component life. These tools also <strong>enhance quality</strong> control on production lines and support navigation
            and obstacle detection in flight operations, contributing to more reliable and <strong>efficient</strong> aerospace systems.
          </p>
        </div>
        <div class="image-column">
          <div class="aerospace-industry-img-wrapper">
            <img src="assets/images/introduction/aerospace_industry.jpg" alt="Model Diagram" />
          </div>
        </div>
      </div>
      <div class="next-btn-div">
        <button class="next-btn" (click)="goNext()">
          Dataset <span class="arrow">→</span>
        </button>
      </div>
    </div>
  </ng-template>


  <!-- <ng-template>
    <div class="slide-content">
      <h2>Canvas Slide</h2>
      <canvas width="600" height="400"></canvas>
    </div>
  </ng-template> -->
</app-slideshow-section>