<app-slideshow-section>

  <ng-template>
    <div class="slide-content">
      <div class="split-slide">
        <div class="text-column">
          <h1>GradCAM</h1>
          <p>
            <strong>Grad-CAM</strong> is an <strong>XAI</strong> method that improves CNN interpretability by generating
            <strong>class-specific heatmaps</strong>, highlighting image regions that influence predictions—without
            altering the model or retraining.
          </p>
          <p>
            It calculates gradients of a target class with respect to feature maps, averages them into
            <strong>importance weights</strong>, and applies <strong>ReLU</strong> to produce a heatmap overlaid on the
            image.
          </p>
          <p>
            Grad-CAM aids in <strong>validation and debugging</strong>, ensuring models focus on meaningful regions. It
            fosters <strong>trust and transparency</strong> in critical applications, supporting responsible AI use.
          </p>

        </div>
        <div class="image-column">
          <div class="image-compare-wrapper">
            <p-imagecompare>
              <ng-template #left>
                <img class="gradcam-dog" src="assets/images/gradcam/grad_cam_dog.jpg" alt="Model Diagram" />
              </ng-template>
              <ng-template #right>
                <img class="gradcam-dog" src="assets/images/gradcam/grad_cam_dog_prev.jpg" alt="Model Diagram" />
              </ng-template>
            </p-imagecompare>
          </div>
        </div>
      </div>
    </div>
  </ng-template>


  <ng-template>
    <div class="slide-content">
      <div class="split-slide">
        <div class="text-column">
          <h1>GradCAM</h1>
          <h2>Experiment with Pre-trained DenseNet121</h2>
          <p>
            Evaluation on the test set confirmed the model’s <strong>predictive performance</strong> and validated
            <strong>Grad-CAM</strong> as an effective tool for <strong>post-hoc interpretability</strong>. Heatmaps
            reliably highlighted key defect areas, aligning with regions a human inspector would focus on.
          </p>
          <p>
            In complex cases with <strong>multiple subtle defects</strong>, activation maps appeared more dispersed,
            showing the model aggregated minor cues. While less intuitive, these still offer insight into the model’s
            reasoning and aid in <strong>debugging and refinement</strong>.
          </p>
          <p>
            Overall, Grad-CAM enhances both <strong>transparency</strong> and reliability in industrial defect
            detection, especially in visually complex scenarios.
          </p>

          <div class="next-btn-div">
            <button class="next-btn" (click)="goNext()">
              Conclusion <span class="arrow">→</span>
            </button>
          </div>
        </div>
        <div class="image-column">
          <div class="gradcam-wrapper">
            <div class="gradcam-select-wrapper">
              <p-selectbutton [allowEmpty]="false" [options]="stateOptions" [(ngModel)]="value" optionLabel="label"
                optionValue="value" aria-labelledby="basic" />
            </div>
            <div class="gradcam-image-grid">
              @for (img of displayedImages; track img) {
              <div class="zoom-wrapper">
                <img [src]="img" alt="GradCAM" class="gradcam-grid-img fade" [class.show]="imagesVisible" appZoomOnHover
                  [zoomScale]="2" />
              </div>
              }

            </div>
          </div>



          <!-- <p-imagecompare class="shadow-lg rounded-2xl">
                    <ng-template #left>
                        <img src="https://primefaces.org/cdn/primevue/images/compare/island1.jpg" />
                    </ng-template>
                    <ng-template #right>
                        <img src="https://primefaces.org/cdn/primevue/images/compare/island2.jpg" />
                    </ng-template>
                </p-imagecompare>                 -->
        </div>
      </div>
    </div>
  </ng-template>

</app-slideshow-section>