.gradcam-wrapper {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 32px;
    border-radius: 24px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: fit-content;
    max-width: 100%;
    width: 80%;
    gap: 32px;
}

.gradcam-select-wrapper {
    display: inline-block;
}

.gradcam-image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.gradcam-grid-img {
    max-height: 100% !important; // Workaround: Remove 80% max image heritage. 
    box-shadow: none !important;

    width: 100%;
    height: auto;
    display: block;
    border-radius: 12px;
}

.gradcam-dog {
    max-height: 100% !important;
    max-width: 100% !important;
    box-shadow: none !important;
    object-fit: unset !important;
}

.image-compare-wrapper {
    display: flex;
    width: 80%;
    border-radius: 24px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
