<div class="slideshow-wrapper">
  <div class="slide-track">
    @for (_ of slides; track $index; let i = $index) {
      <div class="slide" [class.active]="i === currentSlide">
        <ng-container *ngTemplateOutlet="slides[i]"></ng-container> <!-- ✅ accedemos al array procesado -->
      </div>
    }
  </div>

  <div class="controls">
    <button pButton icon="pi pi-chevron-left" (click)="prev()" [disabled]="currentSlide === 0"></button>
    <button pButton icon="pi pi-chevron-right" (click)="next()" [disabled]="currentSlide === slides.length - 1"></button>
  </div>
</div>
