<div class="card">
    <p-treetable [value]="files" [columns]="cols" [resizableColumns]="true" [scrollable]="true" scrollHeight="400px" columnResizeMode="expand">
        <ng-template #colgroup let-columns>
            <colgroup>
                @for (col of columns; track col.field) {
                <col [style.width]="col.width"/>
                }
            </colgroup>
        </ng-template>
        <ng-template #header let-columns>
            <tr>
                @for (col of columns; track col.field) {
                <th ttResizableColumn>
                    {{ col.header }}
                </th>
                }
            </tr>
        </ng-template>
        <ng-template #body let-rowNode let-rowData="rowData" let-columns="columns">
            <tr [ttRow]="rowNode">
                @for (col of columns; let i = $index; track col.field) {
                <td>
                    @if (i === 0) {
                    <p-treetable-toggler [rowNode]="rowNode" />
                    }
                    {{ rowData[col.field] }}
                </td>
                }
            </tr>
        </ng-template>
    </p-treetable>
</div>